.box1:hover {	
	background:#cecece;
}

.box2:hover {	
	background:#cecece;
}

.box3:hover {	
	background:#cecece;
}

.box4:hover {	
	background:#cecece;
}

.box5:hover {	
	background:#cecece;
}

.box6:hover {	
	background:#cecece;
}

.box7:hover {	
	background:#cecece;
}

.box8:hover {	
	background:#cecece;
}

.box9:hover {	
	background:#cecece;
}

.box10:hover {	
	background:#cecece;
}

body {
	overflow-x:hidden;
	margin:0;
	padding:0;
	font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}

#popup {
	width:400px;
	height:400px;
	overflow-x:hidden;	
}

.error {
	text-align: center;
	height:332px;
}

.box1{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.box2{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.box3{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.box4{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.box5{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.box6{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.box7{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.box8{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.box9{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.box10{
	width:400px;
	height:90px;
	padding:5px 14px 5px 0px;
	display:block;
}

.item {
	width:270px;
	height:75px;
	color:black;
	font-family:Helvetica;
	padding:3px 7px 2px 7px;
	text-overflow:ellipsis;
	overflow:hidden;
	margin-right:25px;
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	float:right;
}

.thumb {
	width:75px;
	height:75px;
	float:left;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left:4px;
}

h4 {
	margin-top:0;
	margin-bottom:0;
}

.description {
	font-weight:normal;
}

label {
    cursor: default;
}